{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<h1>Mon profil</h1>
		<h2>Bonjour
			{{ user.firstname }}
			{{ user.lastname }}</h2>

		{% if is_granted('ROLE_STUDENT') %}

			<a class="btn btn-primary btn-lg my-4" href="{{ path('show_progression', {'id': user.id}) }}">Voir ma progression</a>
		{% endif %}
	</div>

	<div class="container mt-4">

		<table class="table mt-4">
			<tbody>
				<tr>
					<th>Mon numéro d'identifiant</th>
					<td>{{ user.id }}</td>
				</tr>
				<tr>
					<th>Mon Email</th>
					<td>{{ user.email }}</td>
				</tr>

				<tr>
					<th>Nom de famille</th>
					<td>{{ user.lastname }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ user.firstname }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ user.decription }}</td>
				</tr>
				{# <img id="computer" src="{{ asset('assets/images/charly.jpg')}}" style="max-width: 35rem;" class="mx-auto d-block" alt="photo de l'apprenant"> #}
				<iframe width="550" height="500" src="{{ user.image }} " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


				{# <div class="formation__image">
																																																																					<img style="max-width: 500px; border-radius: 10%;" src="{{ vich_uploader_asset(user, 'imageFile') }}">
																																																																				</div> #}


				<tr>
					<th>Mon Pseudo</th>
					<td>{{ user.pseudo }}</td>
				</tr>


				<th>Date d'entrée</th>
				<td>{{ user.createdAt ? user.createdAt|date('d-m-Y ') : '' }}</td>
			</tbody>
		</tr>

		<tr>
			<th>Validation</th>
			<td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
		</tr>
		{# <tr>
																																																																																																																																<th>Is_validInstructor</th>
																																																																																																																																<td>{{ user.isValidInstructor ? 'Yes' : 'No' }}</td>
																																																																																																																															</tr> #}
	{# <tr>
																																																																																<th>Reset_token</th>
																																																																																<td>{{ user.resetToken }}</td>
																																																																															</tr> #}
		{# <tr>
																																																																																																																																																											<th>PlainPassword</th>
																																																																																																																																																											<td>{{ user.plainPassword }}</td>
																																																																																																																																																										</tr> #}
	</tbody>
</table>
<a class="btn btn-primary btn-lg" href="{{ path('app_users_edit', {'id': user.id}) }}">Modifier mon profil</a></div></div>{# <a href="{{ path('app_users_index') }}">back to list</a> #}{# {{ include('pages/users/_delete_form.html.twig') }} #}{% endblock %}
