{% extends 'base.html.twig' %}

{% block title %}Sections
{% endblock %}

{% block body %}

<div class="container mt-4">
	{% for formation in section.formations %}

		<h1>
			Formation:
			{{ formation.title}}


		</h1>

	</h2>

	<h2>Sections N°{{ section.id }}
		:

		<td>{{ section.title }}</td>
	</h2>


	<table class="table">
		<tbody>
			<tr>
				<th>Leçons</th>

				{% for lesson in section.lessons %}


					<td></td>
				</td>
				<td>
					<a href="{{ path('app_course2_show', {'id': lesson.id}) }}">{{ lesson.title}}</a>


				</td>
			{% endfor %}
			{# <td>
																																	<a href="{{ path('app_course2', {'id': section.id}) }}">voir</a>
																																
																																</td> #}
		</tbody>
	</tr>


</table>{% endfor %}<a class="btn btn-secondary btn-lg" href="{{ path('learningsection') }}">Retour à la liste</a></div>{# <a href="{{ path('app_sections_edit', {'id': section.id}) }}">edit</a> #}{# {{ include('pages/sections/_delete_form.html.twig') }} #}{% endblock %}
