{% extends 'base.html.twig' %}

{% block title %}Directories
{% endblock %}

{% block body %}
	<h1>Directories</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ directory.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ directory.title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ directory.description }}</td>
			</tr>
			<tr>
				<th>Slug</th>
				<td>{{ directory.slug }}</td>
			</tr>
			<tr>
				<th>Is_ended</th>
				<td>{{ directory.isEnded ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>Created_at</th>
				<td>{{ directory.createdAt ? directory.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Updated_at</th>
				<td>{{ directory.updatedAt ? directory.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_directories_index') }}">back to list</a>

	<a href="{{ path('app_directories_edit', {'id': directory.id}) }}">edit</a>

	{{ include('pages/directories/_delete_form.html.twig') }}
{% endblock %}
