{% extends 'base.html.twig' %}

{% block title %}Questions
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Questions</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ question.id }}</td>
				</tr>
				<tr>
					<th>Title</th>
					<td>{{ question.title }}</td>
				</tr>
				<tr>
					<th>Question</th>
					<td>{{ question.question }}</td>
				</tr>
				<tr>
					<th>Correction</th>
					<td>{{ question.correction }}</td>
				</tr>
				{# <tr>
									<th>Is_answer_ok</th>
									<td>{{ question.isAnswerOk ? 'Yes' : 'No' }}</td>
								</tr> #}
				{# <tr>
									<th>Is_corrected</th>
									<td>{{ question.isCorrected ? 'Yes' : 'No' }}</td>
								</tr> #}
			</tbody>
		</table>

		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_questions_index') }}">Retour au menu</a>


		<a class="btn btn-secondary btn-lg mt-4" href="{{ path('app_questions_edit', {'id': question.id}) }}">Modifier</a>


		{{ include('pages/questions/_delete_form.html.twig') }}</div>

{% endblock %}
