{% extends 'base.html.twig' %}

{% block title %}Ressources index{% endblock %}

{% block body %}
    <h1>Ressources index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Format</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ressource in ressources %}
            <tr>
                <td>{{ ressource.id }}</td>
                <td>{{ ressource.name }}</td>
                <td>{{ ressource.format }}</td>
                <td>
                    <a href="{{ path('app_ressources_show', {'id': ressource.id}) }}">show</a>
                    <a href="{{ path('app_ressources_edit', {'id': ressource.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ressources_new') }}">Create new</a>
{% endblock %}
