{% extends 'base.html.twig' %}

{% block title %}Formations index
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<h1>Liste des formations</h1>

		<table class="table">
			<thead>
				<tr>
					<th>N°</th>
					<th>Titre</th>
					{# <th>Sections</th> #}
					<th>Catalogue</th>
					<th>Description</th>
					<th>Auteur</th>
					<th>Terminée</th>
					<th>Favoris</th>
					<th>Création</th>
					<th>Modification</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for formation in formations %}
					<tr>
						<td>{{ formation.id }}</td>
						<td>{{ formation.title }}</td>
						{# <td>{{ formation.sections }}</td> #}

						{# <td>{{ formation.directories }}</td> #}

						<td>{{ formation.description }}</td>
						<td>{{ formation.slug }}</td>
						<td>{{ formation.isEndedFormation ? 'Oui' : 'Non' }}</td>
						<td>{{ formation.isFavorite ? 'Oui' : 'Non' }}</td>
						<td>{{ formation.createdAt ? formation.createdAt|date('d/m/Y') : '' }}</td>

						<td>{{ formation.updatedAt ? formation.updatedAt|date('d/m/Y') : '' }}</td>

						<td>
							<a href="{{ path('app_formations_show', {'id': formation.id}) }}">Voir</a>
							<a href="{{ path('app_formations_edit', {'id': formation.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">Aucune formation connue</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-secondary btn-lg" href="{{ path('app_formations_new') }}">Créer une nouvelle formation</a>
	</div>


{% endblock %}
