{% extends 'base.html.twig' %}

{% block title %}Formations index{% endblock %}

{% block body %}
    <h1>Formations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Slug</th>
                <th>Is_endedFormation</th>
                <th>Is_Favorite</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.title }}</td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.slug }}</td>
                <td>{{ formation.isEndedFormation ? 'Yes' : 'No' }}</td>
                <td>{{ formation.isFavorite ? 'Yes' : 'No' }}</td>
                <td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.updatedAt ? formation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_formations_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('app_formations_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formations_new') }}">Create new</a>
{% endblock %}
