{% extends 'base.html.twig' %}

{% block title %}Quiz
{% endblock %}
{% block body %}
	<div class="container mt-4">
		<h1>Mes Evaluations
			<a class="btn btn-primary btn-lg row my-2 ms-3" href="{{path('learningsection')}}" role="button">Retour au planning</a>
		</h1>


		{% for formation in formations %}
			{# <h2>Titre de la formation:
																			<strong>{{formation.title}}</strong>
																		</h2> #}
			{% for section in formation.sections %}
				<div class="container mt-4">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-3">
							<article class="card border-primary mb-3 ">
								<div class="card-header bg-secondary">
									<h1>Formation N°
										{{ formation.id}}:
										{{ formation.title}}

									</h1>
									<h2>Section N°
										{{ section.id }}:
										<strong>{{ section.title }}</strong>
									</h2>
								</div>
								<div class="card-body bg-light">
									{% for quiz in section.quizes %}

										<h4 class="card-title mt-4">Titre du Quiz:
											{{quiz.title}}</h4>
										{% for question in quiz.questions %}
											<h4 class="card-text mt-4">Thème du Quiz:
												{{question.title}}</h4>
											<div class="" style="font-weight: bold;">{{question.question}}</div>
											<fieldset class="form-group">
												<legend class="mt-4">Propositions</legend>
												<div class="form-check">
													<label class="form-check-label">
														<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
														{{question.proposition2}}
													</label>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
														{{question.proposition3}}

													</label>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
														{{question.propsition1}}

													</label>
												</div>

												<div class="form-check">
													<label class="form-check-label">
														<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
														{{question.goodanswer}}
													</label>
												</div>
											</fieldset>

											<div class="mt-4">Vous avez fini l'évaluation, en allant à la page suivante, vous allez valider vos réponses et il ne vous sera plus possible de les modifier.</div>
											<a class="btn btn-primary btn-lg row my-2 ms-3" href="{{path('app_correction_show', {'id': question.id})}}" role="button">Valider votre évaluation</a>

										{% endfor %}
									{% endfor %}


								</div>
							</article>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
