{% extends 'base.html.twig' %}

{% block title %}EndedLessons index
{% endblock %}

{% block body %}
	<h1>EndedLessons index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Created_at</th>
				<th>Updated_at</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>

			{{ app.user.lastname }}
			{{ app.user.firstname }}

			{% for ended_lesson in ended_lessons %}

				<h3>
					{# {{ended_lesson.title}} #}
				</h3>
				<tr>

					<td>{{ ended_lesson.id }}</td>
					<td>{{ ended_lesson.lessons }}</td>
					<td>{{ ended_lesson.users }}</td>


					<td>{{ ended_lesson.createdAt ? ended_lesson.createdAt|date('d/m/Y') : '' }}</td>

					<td>{{ ended_lesson.updatedAt ? ended_lesson.updatedAt|date('d/m/Y') : '' }}</td>

					<td>
						<a href="{{ path('app_ended_lessons_show', {'id': ended_lesson.id}) }}">show</a>
						<a href="{{ path('app_ended_lessons_edit', {'id': ended_lesson.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_ended_lessons_new') }}">Create new</a>
{% endblock %}
