{% extends 'base.html.twig' %}

{% block title %}Liste des leçons
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Liste des leçons</h1>

		<table class="table">
			<thead>
				<tr>
					<th>N° de la leçon</th>
					<th>Titre</th>
					<th>Contenu</th>
					<th>Slug</th>
					<th>Video</th>
					<th>Section</th>

					<th>Terminée</th>
					<th>Créée</th>
					<th>Modifiée</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for lesson in lessons %}
					<tr>
						<td>{{ lesson.id }}</td>
						<td>{{ lesson.title }}</td>
						<td>{{ lesson.description }}</td>
						<td>{{ lesson.slug }}</td>
						<td>{{ lesson.video }}</td>

						<td>
							{% for section in lesson.sections %}
								{{section.title}}
							{% endfor %}
						</td>

						<td>{{ lesson.isEnded ? 'Yes' : 'No' }}</td>
						<td>{{ lesson.createdAt ? lesson.createdAt|date('d/m/Y') : '' }}</td>

						<td>{{ lesson.updatedAt ? lesson.updatedAt|date('d/m/Y') : '' }}</td>

						<td>
							<a href="{{ path('app_course2_show', {'id': lesson.id}) }}">voir</a>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# <a href="{{ path('app_lessons_new') }}">Create new</a> #}

		{# <div class="navigation d-flex justify-content-center mt-4">
																																		{{ knp_pagination_render(lessons) }}
																																	</div> #}
	</div>


{% endblock %}
