{% extends 'base.html.twig' %}

{% block title %}Leçon
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Titre de la leçon n°{{ lesson.id }}:

			{{ lesson.title }}</h1>

		{% set isEnded=false %}
		{% for terminee in lesson.getEndedLessons  %}

			{% if terminee.users == app.user %}

				{% set isEnded=true %}

			{% endif %}

		{% endfor %}


		<a class="btn btn-secondary btn-lg mb-4" href="{{ path('app_lessons_end', {'id': lesson.id}) }}">{{ isEnded ? 'La leçon est terminée' : 'La leçon est en cours'}}</a>


		{% for formation in formations %}
			<h2>Titre de la formation:
				<strong>{{formation.title}}</strong>
			</h2>


			{% for section in lesson.sections %}


				<h3>Titre de la Section:
					{{ section.title}}

					<table class="table">
						<tbody>
							<tr>
								<th>

									<iframe width="560" height="315" src="https://www.youtube.com/embed/R5SD0JtvBDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

								</th>
								<td></td>
							</tr>


							<tr>
								<th style="font-weight:normal;">
									{{ lesson.description }}

								</th>
								<td></td>
							</tr>
							<tr>
								<th>
									<p>Ressource:</p>
									<iframe width="500" height="500" src="{{ lesson.ressource1 }} " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


								</th>
								<td></td>
							</tr>

							<tr>
								<th>
									Créée par:

									{{ lesson.slug }}

								</th>
								<td></td>
							</tr>


							<tr>
								<th>
									le
									{{ lesson.createdAt ? lesson.createdAt|date('d-m-Y') : '' }}

								</th>
								<td></td>
							</tr>

						</tbody>
					</table>
				{% endfor %}
			{% endfor %}


			<a class="btn btn-secondary btn-lg" href="{{ path('learningsection') }}">

				Retour au menu</a>


			{# <a href="{{ path('app_lessons_edit', {'id': lesson.id}) }}">edit</a> #}

			{# {{ include('pages/lessons/_delete_form.html.twig') }} #}
		</div>

	{% endblock %}
